<div class="dial">
  <canvas data-type="linear-gauge"
  id="COOLANT_TEMP"
  data-width="400"
  data-height="150"
  data-units="°C"
  data-title="Coolant Temperature"
  data-min-value="0"
  data-max-value="160"
  data-major-ticks="[0, 20, 40, 60, 80,100, 120,140, 160]"
  data-minor-ticks="5"
  data-stroke-ticks="true"
  data-ticks-width="15"
  data-ticks-width-minor="7.5"
  data-highlights='[
                  {"from": 0, "to": 20, "color": "rgba(0,0, 255, .3)"},
                  {"from": 20, "to": 40, "color": "rgba(255, 0, 0, .3)"},
                  {"from": 40, "to": 60, "color": "rgba(255, 0, 0, .3)"},
                  {"from": 60, "to": 80, "color": "rgba(255, 0, 0, .3)"},
                  {"from": 80, "to": 100, "color": "rgba(255, 0, 0, .3)"},
                  {"from": 100, "to": 120, "color": "rgba(255, 0, 0, .3)"},
                  {"from": 120, "to": 140, "color": "rgba(255, 0, 0, .3)"},
                  {"from": 140, "to": 160, "color": "rgba(255, 0, 0, .3)"},
                  ]'
  data-color-major-ticks="#ffe66a"
  data-color-minor-ticks="#ffe66a"
  data-color-title="#eee"
  data-color-units="#ccc"
  data-color-numbers="#eee"
  data-color-plate="black"
  data-border-shadow-width="0"
  data-borders="false"
  data-border-radius="10"
  data-needle-type="arrow"
  data-needle-width="3"
  data-animation-duration="1500"
  data-animation-rule="linear"
  data-color-needle="#222"
  data-color-needle-end=""
  data-color-bar-progress="#327ac0"
  data-color-bar="#f5f5f5"
  data-bar-stroke="0"
  data-bar-width="8"
  data-bar-begin-circle="false"
  ></canvas>
</div>
